@import 'reset.css';

html, body {
    width: 100%;
    height: 100%;
}

section {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    flex-grow: 1;
}

header {
	background:  #85CDF5;;
	color:  #fff;padding:  20px;
}
footer {
	background: rgb(51,51,51);
	color:  #fff;padding:  20px;
}
main {
	background:  rgb(255, 253, 253);
}

header, main, footer {
    flex-shrink: 0;
}

/*Links do topo*/

.menu-topo > .links-topo > a{
    color: black;
    font-family:'Darker Grotesque';
    font-size: 1.8em;
    text-decoration: none;
}

.menu-topo{
  
   /* Configurações Flex;*/
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

.links-topo2{
    color: black;
    font-family:'Darker Grotesque';
    font-size: 1.8em;
    text-decoration: none;
    text-align: center;


}
.seta{
    border-radius: 8rem;
    background-color:black;
    padding: 1px;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
}


.seta:hover{
    color: white;
    padding-left: 10rem;
    background-color: rgba(46, 46, 70, 0.747);
    border-top-left-radius: 8rem;
    border-bottom-left-radius: 8rem ;
    transition-property: all ;
    transition-duration: 0.8s;

}


.parte1{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 1400px;
    color:white;
    background-image: url("Adote\ um\ Lobinho\ 2021.3\ \(Copy\)/image.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-content:center;
    text-align: center;
    width: auto;
}

.parte1 h3{
    font-family: Darker Grotesque;
    font-size: 7em;
    font-style: normal;
    font-weight: 700;
    line-height: 130px;
    letter-spacing: 0em;
    line-height: 1.5;

}

.parte1 p{
    font-family: Darker Grotesque;
    font-size:1.2em;
    width:400px;
    align-self: center;
    
}

.parte2{
    background-color:rgb(44, 86, 128);
    display: flex;
    flex-direction: column;
    padding:3% 6%;
    justify-content:center;
    text-align: center;
    width: auto;

}

.parte2 h3{
    color:rgb(222, 185, 89);
    font-family: Darker Grotesque;
    font-size: 3em;
    line-height: 1.5;

}

.parte2 p{
    font-family: Darker Grotesque;
    width:900px;
    align-self: center;
    color:white;
    line-height: 1.5;

}


.painel{
    display:flex;
    flex-direction:row;
    

}

.parte3{
   background: rgb(51, 51, 51);
   display: flex;
   padding:3% 6%;
  
   
}

.imagem{
    background: rgb(255, 254, 254);
    border-radius: 100%;
    margin:5% 5% 7%;
    
      
}
.parte3 h3{
    color:rgb(222, 185, 89);
    font-family: Darker Grotesque;
    font-size: 3em;
    line-height: 1.5;
    justify-content:center;
    text-align: center;
    width: auto;

}

.parte3 p, .ima1, .ima2, .ima3, .ima4{
    display: flex;
    color:white;
    font-family: Darker Grotesque;
    margin:5% 5% 7%;
    align-items: center;
    align-self:center;
    text-align: center;

}

.parte4 h3{
    padding:3% 6%;
    text-align: center;
    color:rgb(222, 185, 89);
    font-family: Darker Grotesque;
    font-size: 3em;
    line-height: 1.5;
   
}


.lobinho{
    width:25rem;
    height:20rem;
    position: relative;
}


.wolf-list{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    list-style-type:none;
    justify-content: center;
    
    
}

.descricao_lobinho {
    margin:0% 3% 3% 3%;
 
}

.descricao_lobinho h1 {
    
    color:rgb(0, 0, 0);
    font-family: Darker Grotesque;
    font-size: 3em;
    line-height: 1.5;
    width: auto;
}

.descricao_lobinho p{
    line-height: 1.5;
    text-align:left;
    font-size:1.5em;
    line-height: 1.5;
    width:500px;
    
}


.texto-imagem{
    display: flex;
    margin: 7% 3% 3% 3%;
    justify-content:center;
}


.gradiente{
    height: 5px;
    background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%)
}

.rodape{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: flex-start;
    margin: 0% 0% 0% 0%;

}

.mapa{
    margin:5%;
    
}


.informacoes{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    margin:5% 5% 7%;
    line-height: 1.5;

}

.botao1{
    background-color:rgb(222, 185, 89); 
    color: rgb(10, 10, 10);
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    font-family:'Darker Grotesque';
    
}

.patinha{
   justify-content: center;
   align-items: center;
   margin: 5%;
   
}

.informacoes, .rua, .tel, .email{
    padding-bottom: 1rem;
}

/*Add lobin*/

html, body {
    width: 100%;
    height: 100%;
}

section {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}

main {
    flex-grow: 1;
}

header {
	background:  #85CDF5;;
	color:  #fff;padding:  20px;
}
footer {
	background: rgb(51,51,51);
	color:  #fff;padding:  20px;
}
main {
	background:  rgb(255, 253, 253);
}

header, main, footer {
    flex-shrink: 0;
}

/*Links do topo*/

.menu-topo > .links-topo > a{
    color: black;
    font-family:'Darker Grotesque';
    font-size: 1.8em;
    text-decoration: none;
}

.menu-topo{
  
   /* Configurações Flex;*/
    display: flex;
    justify-content: space-around;
    align-items: center;    
}


.links-topo2{
    color: black;
    font-family:'Darker Grotesque';
    font-size: 1.8em;
    text-decoration: none;
    text-align: center;


}
.seta{
    border-radius: 8rem;
    background-color:black;
    padding: 1px;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
}


.seta:hover{
    color: white;
    padding-left: 10rem;
    background-color: rgba(46, 46, 70, 0.747);
    border-top-left-radius: 8rem;
    border-bottom-left-radius: 8rem ;
    transition-property: all ;
    transition-duration: 0.8s;

}


.painel{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:3% 6%;

}


.container{
    background:#fff;
    border-width:medium;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding:3% 6%;
    width:50%;
    height:50%;
   


}

.container h3{
    color:rgb(0, 0, 0);
    font-family: Darker Grotesque;
    font-size: 2em;
    line-height: 1.5;
    text-align: center;
    margin:5% 5% 7%;
    
}

.texto{
    display:flex;
    flex-direction: column;
}

.botao2{
    display: flex;
    background-color: #2C5680;
    color: rgb(255, 255, 255);
    padding: 2% 6%;
    font-weight: 700;
    font-family:'Darker Grotesque';
    margin: 5% 0%; 
    width:fit-content;
    align-self: center;
    align-items: center;
    justify-content: center;
    
}

.gradiente{
    height: 5px;
    background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%)
}



.rodape{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: flex-start;
    margin: 0% 0% 0% 0%;

}

.mapa{
    margin:5%;
    
}


.informacoes{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    margin:5% 5% 7%;
    line-height: 1.5;

}

.botao1{
    background-color:rgb(222, 185, 89); 
    color: rgb(10, 10, 10);
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    font-family:'Darker Grotesque';
    
}

.patinha{
   justify-content: center;
   align-items: center;
   margin: 5%;
   
}

.informacoes, .rua, .tel, .email{
    padding-bottom: 1rem;
}

/*busca*/

html, body {
    width: 100%;
    height: 100%;
}

section {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    flex-grow: 1;
}

header {
	background:  #85CDF5;;
	color:  #fff;padding:  20px;
}
footer {
	background: rgb(51,51,51);
	color:  #fff;padding:  20px;
}
main {
	background:  rgb(255, 253, 253);
}

header, main, footer {
    flex-shrink: 0;
}

/*Links do topo*/

.menu-topo > .links-topo > a{
    color: black;
    font-family:'Darker Grotesque';
    font-size: 1.8em;
    text-decoration: none;
}

.menu-topo{
  
   /* Configurações Flex;*/
    display: flex;
    justify-content: space-around;
    align-items: center;    
}


.links-topo2{
    color: black;
    font-family:'Darker Grotesque';
    font-size: 1.8em;
    text-decoration: none;
    text-align: center;


}
.seta{
    border-radius: 8rem;
    background-color:black;
    padding: 1px;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
}


.seta:hover{
    color: white;
    padding-left: 10rem;
    background-color: rgba(46, 46, 70, 0.747);
    border-top-left-radius: 8rem;
    border-bottom-left-radius: 8rem ;
    transition-property: all ;
    transition-duration: 0.8s;

}



.barra-busca{
    display: flex;
    justify-content:center;
    margin: 2%;
    
    
}
.busca{
   display: flex;
   
}



.botao2{
    background-color:rgb(222, 185, 89); 
    color: rgb(255, 255, 255);
    padding: 0% 1%;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    font-family:'Darker Grotesque';

}
.textArea, .botao2, .adotados{
    margin: 1%;
    
}



.lobinho{
    width:25rem;
    height:20rem;
    position: relative;
}


.wolf-list{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    list-style-type:none;
    justify-content: center;
    
    
}

.descricao_lobinho {
    margin:0% 3% 3% 3%;
 
}

.descricao_lobinho h1 {
    
    color:rgb(0, 0, 0);
    font-family: Darker Grotesque;
    font-size: 3em;
    line-height: 1.5;
    width: auto;
}

.descricao_lobinho p{
    line-height: 1.5;
    text-align:left;
    font-size:1.5em;
    line-height: 1.5;
    width:500px;
    
}


.texto-imagem{
    display: flex;
    margin: 7% 3% 3% 3%;
    justify-content:center;
}


.botao4{
    background-color:rgb(222, 185, 89); 
    color: rgb(255, 255, 255);
    padding: 0% 1%;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    font-family:'Darker Grotesque';
}


.pagination {
    display: flex;
    justify-content:center;
    
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    
  }
  .gradiente{
    height: 5px;
    background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%)
}

.rodape{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: flex-start;
    margin: 0% 0% 0% 0%;

}

.mapa{
    margin:5%;
    
}


.informacoes{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    margin:5% 5% 7%;
    line-height: 1.5;

}

.botao1{
    background-color:rgb(222, 185, 89); 
    color: rgb(10, 10, 10);
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    font-family:'Darker Grotesque';
    
}

.patinha{
   justify-content: center;
   align-items: center;
   margin: 5%;
   
}

.informacoes, .rua, .tel, .email{
    padding-bottom: 1rem;
}

/*adotar lobin*/

*{
    margin:0 auto;
    padding: 0 auto;
    font-family:'Darker Grotesque';
	border: 0;
	
}
.nodecoration{
    text-decoration: none;
}
.flex{
    display: flex;
}
.quebrarLinha{
    flex-wrap: wrap;
}
/*Ajustes do topo*/

.menu-topo{
    /*Aparência*/
    background-color:#85CDF5;
    display: flex;
    /* gap: 5rem; */
    justify-content: space-between;
    align-items: center;    
    height:8rem;
    padding-left: 20%;
    padding-right: 20%;
}

/*Links do topo*/

.menu-topo > .links-topo > a{
    color: black;
    font-family:'Darker Grotesque';
    font-size: 1.8em;
    text-decoration: none;
}
.links-topo2{
    color: black;
    font-family:'Darker Grotesque';
    font-size: 1.8em;
    text-decoration: none;
    text-align: center;


}
.seta{
    border-radius: 8rem;
    background-color:black;
    padding: 0.3rem;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1rem;
}


.seta:hover{
    color: white;
    padding-left: 10rem;
    background-color: rgba(46, 46, 70, 0.747);
    border-top-left-radius: 8rem;
    border-bottom-left-radius: 8rem ;
    transition-property: all ;
    transition-duration: 0.8s;

}


/* SECONDE SECTION */
.main{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 4rem;
}
.textPrincipal{
    max-width: 100%;
    align-items: center;
}
.cadastro{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 4rem;
    padding-bottom: 0;
   
}
.textPrincipal img{
    border-radius: 50%;
}
.textPrincipal div{
    margin-left: 3rem;
    margin-bottom: 5rem;
}
.textPrincipal div h1{
    font-size: 2.5rem;
}
.textPrincipal div p{
    margin-top: 1rem;
}
.nome h2{
    font-size: 1.5rem;
}
.nome {
    justify-content:space-between;
}
/* inputs */
.inputmenor{
    margin-left: 65%;
    width: 30%;
    border-bottom: 2px solid #0a0a0a;
    min-width: 30%;
   
}
.inputmaior{
    align-items: flex-start;
    width: 40rem;
    border-bottom: 2px solid #0a0a0a;
}
.inputmaior2{
    align-items: flex-start;
    width: 50rem;
    border-bottom: 2px solid #0a0a0a;
}
.intermediária{
    flex-direction: column;
}
.intermediária .idade ,h2{
    padding-bottom: 2rem;
}

.idade{
    text-align: right;
}
.email{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2rem;
}
.email h2{
    font-size: 1.5rem;
}
.Adotar{
    text-align:center;
    padding: 3rem 0;
    /* background-color: red; */
    padding-left: 20%;
    padding-right: 20%;
}
.Adotar h1 button{
    background-color: rgb(53, 75, 201);
    font-size: 1.5rem;
    padding: 1rem 3rem;
    font-weight:600;
    margin-left: 5rem;
    text-decoration: none;
    border-radius: 5px;
}
.Adotar h1 button a{
    color: #ffffff;
}
.gradiente{
    height: 5px;
    background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%)
}

/* rodapé */


.gradiente{
    height: 5px;
    background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%)
}
.mapa{
    margin: 2rem 0 2rem 2rem;
    width: 30%;
    border-radius: 5px;    
}
.botao1{
    background-color:rgb(222, 185, 89); 
    color: rgb(224, 217, 217);
    padding: 0.1rem 1.5rem;
    font-size: 1rem;   
}

.informacoes{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    margin:5% 5% 7% 1rem;
    line-height: 1.5;
    color: white;
}

.rodape{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center ;
    /* margin: 2% 5% 5% 1%; */
    vertical-align: top;
    background-color: #495258;
    
    
}

.patinha{
    justify-content: center;
    align-items: center;
    margin: 5%;
    
}

.info{
    padding-top: 2rem;
    margin-left: 1rem;
}
.desenvolvimento{
    text-align: center;
    color: white;
}
.botao1 a{
    text-decoration: none;
    font-weight: 700;
    color:rgb(10, 10, 10);
}

/*quem somos*/

*{
    margin:0 auto;
    padding: 0 auto;
    font-family:'Darker Grotesque';
	border: 0;
	
}
.nodecoration{
    text-decoration: none;
}
.flex{
    display: flex;
}
.quebrarLinha{
    flex-wrap: wrap;
}
/*Ajustes do topo*/

.menu-topo{
    /*Aparência*/
    background-color:#85CDF5;
    display: flex;
    /* gap: 5rem; */
    justify-content: space-between;
    align-items: center;    
    height:8rem;
    padding-left: 20%;
    padding-right: 20%;
}

/*Links do topo*/

.menu-topo > .links-topo > a{
    color: black;
    font-family:'Darker Grotesque';
    font-size: 1.8em;
    text-decoration: none;
}
.links-topo2{
    color: black;
    font-family:'Darker Grotesque';
    font-size: 1.8em;
    text-decoration: none;
    text-align: center;


}
.seta{
    border-radius: 8rem;
    background-color:black;
    padding: 0.3rem;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1rem;
}


.seta:hover{
    color: white;
    padding-left: 10rem;
    background-color: rgba(46, 46, 70, 0.747);
    border-top-left-radius: 8rem;
    border-bottom-left-radius: 8rem ;
    transition-property: all ;
    transition-duration: 0.8s;

}



     /* SECONDE SECTION */


main{
    text-align: center;
    padding-left: 20%;
    padding-right: 20% ;
}
.title{
    font-size: 3rem;
    padding-left: 2rem;
    padding-top: 3rem ;
    padding-bottom: 3rem ;
}
.text{
    font-size: 1.7rem;
    font-weight: inherit;
    padding-bottom: 4rem;
}

       /* rodapé */


       
       /* rodapé */
    
.gradiente{
    height: 5px;
    background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%)
}
.mapa{
    margin: 2rem 0 2rem 2rem;
    width: 30%;
    border-radius: 5px;    
}
.botao1{
    background-color:rgb(222, 185, 89); 
    color: rgb(224, 217, 217);
    padding: 0.1rem 1.5rem;
    font-size: 1rem;   
}

.informacoes{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    margin:5% 5% 7% 1rem;
    line-height: 1.5;
    color: white;
}

.rodape{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center ;
    /* margin: 2% 5% 5% 1%; */
    vertical-align: top;
    background-color: #495258;
    
    
}

.patinha{
    justify-content: center;
    align-items: center;
    margin: 5%;
    
}

.info{
    padding-top: 2rem;
    margin-left: 1rem;
}
.desenvolvimento{
    text-align: center;
    color: white;
}
.botao1 a{
    text-decoration: none;
    font-weight: 700;
    color:rgb(10, 10, 10);
}

    /* responsividade */


/* @media (max-width: 600px){

    .menu-topo{
        flex-wrap: wrap;
        align-items: center;
    }
    .links-topo{
        padding-le;
    }
} */

/*show*/

*{
    margin:0 auto;
    padding: 0 auto;
    font-family:'Darker Grotesque';
	border: 0;
	
}
.nodecoration{
    text-decoration: none;
}
.flex{
    display: flex;
}
.quebrarLinha{
    flex-wrap: wrap;
}
/*Ajustes do topo*/

.menu-topo{
    /*Aparência*/
    background-color:#85CDF5;
    display: flex;
    /* gap: 5rem; */
    justify-content: space-between;
    align-items: center;    
    height:8rem;
    padding-left: 20%;
    padding-right: 20%;
}

/*Links do topo*/

.menu-topo > .links-topo > a{
    color: black;
    font-family:'Darker Grotesque';
    font-size: 1.8em;
    text-decoration: none;
}
.links-topo2{
    color: black;
    font-family:'Darker Grotesque';
    font-size: 1.8em;
    text-decoration: none;
    text-align: center;


}
.seta{
    border-radius: 8rem;
    background-color:black;
    padding: 1px;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
}


.seta:hover{
    color: white;
    padding-left: 10rem;
    background-color: rgba(46, 46, 70, 0.747);
    border-top-left-radius: 8rem;
    border-bottom-left-radius: 8rem ;
    transition-property: all ;
    transition-duration: 0.8s;

}



/* SECONDE SECTION */

.imagem img{
    height:20rem;
}
.main{
    margin: 0 auto;
    align-items: flex-start;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 3rem;
    flex-grow: 2 0;

}
.content1{
    margin-left:1rem ;
    justify-content: space-between;
    flex-direction: column;

}
.content2{
    /* background:red; */
    margin-left:2rem ;
    justify-content: flex-end;
    width: 150%;
    flex-direction: column;
}
.content2 .texto1{
    padding-bottom: 1rem;
}

.title{
    text-align: center;
    padding: 2rem 0;

}
.title h1{
    font-weight: 900;
    margin-left: 5%;
}

/* button config */


.content1 .imagem, .button{
    margin-bottom: 2rem;
}

.button{
    align-items:center;
    /* background-color: #DEB959; */
    width: 100%;
    justify-content: space-between;
    position: relative;
    padding-top: 2rem;
}

.button1{
    margin-right: 1.5rem;
    background-color: rgb(1, 100, 17);
    padding: 1rem 3rem;
    position: absolute;
    left: 0;
    
}
.button2{
    padding: 1rem 3rem; 
    background-color: rgb(224, 19, 19);
    /* /* background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%) */
    position: absolute;
    right:0;
    
}
.button1 a{
    text-decoration: none;
    color: white;
}
.button2 a{
    text-decoration: none;
    color: white;
}
.imagem{
    justify-content: flex-end;
}

/* footer */

.gradiente{
    height: 5px;
    background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%)
}
.mapa{
    margin: 2rem 0 2rem 2rem;
    width: 30%;
    border-radius: 5px;    
}
.botao1{
    background-color:rgb(222, 185, 89); 
    color: rgb(224, 217, 217);
    padding: 0.1rem 1.5rem;
    font-size: 1rem;   
}

.informacoes{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    margin:5% 5% 7% 1rem;
    line-height: 1.5;
    color: white;
}

.rodape{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center ;
    /* margin: 2% 5% 5% 1%; */
    vertical-align: top;
    background-color: #495258;
    
    
}

.patinha{
    justify-content: center;
    align-items: center;
    margin: 5%;
    
}

.info{
    padding-top: 2rem;
    margin-left: 1rem;
}
.desenvolvimento{
    text-align: center;
    color: white;
}
.botao1 a{
    text-decoration: none;
    font-weight: 700;
    color:rgb(10, 10, 10);
}












/* teste media */
/* @media (max-width: 600px){
    .main{
        margin-left: 2rem;
        margin-right: 2rem;
        flex-wrap: wrap;
    }
    .content1{
        margin-left: 3rem;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 2rem;
        background-color: forestgreen;
        

        
        }
    .content2{
        background-color:red;
        margin-right: 3rem;
        margin-left: 3rem;
        
    }
} */

/* rodapé */

/* .rodape{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #2C5680;
} */






